%div.container.mt-5
  %table.table.table-striped.table-hover.table-data
    %thead
      %tr
        = form_with url: root_path, method: :get, local: true do |form|
          %div.row.mb-3
            %div.col-6
              %a{href: "/home/export?filter=#{params[:filter]}&sort=#{params[:sort]}&direction=#{params[:direction]}", class: "btn btn-primary btn-sm px-4 py-2"} Export Data
              %a{href: root_path, class: "btn btn-secondary btn-sm px-4 py-2"} Clear Filters
            %div.col-6
              .form-group
                = form.text_field :filter, class: "form-control", value: params[:filter], placeholder: "Type and hit enter to filter"
    %thead.table-primary.border-0
      %tr
        %th #
        %th
          = link_to "First Name", root_path(sort: 'first_name', direction: params[:direction] == 'asc' ? 'desc' : 'asc', filter: params[:filter])
          = params[:sort] == 'first_name' ? (params[:direction] == 'asc' ? '⬆️' : '⬇️') : ''
        %th
          = link_to "Last Name", root_path(sort: 'last_name', direction: params[:direction] == 'asc' ? 'desc' : 'asc', filter: params[:filter])
          = params[:sort] == 'last_name' ? (params[:direction] == 'asc' ? '⬆️' : '⬇️') : ''
        %th
          = link_to "Email", root_path(sort: 'email', direction: params[:direction] == 'asc' ? 'desc' : 'asc', filter: params[:filter])
          = params[:sort] == 'email' ? (params[:direction] == 'asc' ? '⬆️' : '⬇️') : ''
        %th Phone
        %th.text-center Status
    %tbody.table-bordered.border-top-0
      - @users.each_with_index do |user, index|
        %tr{ data: { bs_toggle: "offcanvas", bs_target: "#offcanvasUser", user: user.to_json } }
          %td= index + 1
          %td= user[:first_name]
          %td= user[:last_name]
          %td= user[:email]
          %td= user[:phone]
          %td.text-center= user[:status] ? '✅' : '❌'
  %div.pager.float-end
    = pagy_bootstrap_nav(@pagy).html_safe

// Offcanvas structure
%div.offcanvas.offcanvas-end{ id: "offcanvasUser", tabindex: "-1", "aria-labelledby" => "offcanvasUserLabel" }
  %div.offcanvas-header
    %h5#offcanvasUserLabel Offcanvas
    %button.btn-close{ type: "button", "data-bs-dismiss" => "offcanvas", "aria-label" => "Close" }
  %div.offcanvas-body
    %p#offcanvasContent

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var offcanvasElement = document.getElementById('offcanvasUser');
    var offcanvas = new bootstrap.Offcanvas(offcanvasElement);

    document.querySelectorAll('tr[data-bs-toggle="offcanvas"]').forEach(function(row) {
      row.addEventListener('click', function() {
        var user = JSON.parse(this.dataset.user);
        document.getElementById('offcanvasUserLabel').innerText = user.first_name + ' ' + user.last_name;
        document.getElementById('offcanvasContent').innerText = 'Email: ' + user.email + '\nPhone: ' + user.phone + '\nRSVP: ' + (user.status ? '✅' : '❌');
        
        offcanvas.show();
      });
    });
  });
